[submodule "x86reference"]
	path = x86reference
	url = https://github.com/Kashio/x86reference.git
[submodule "x86-csv"]
	path = src/cheeseshredder/arch/x86_64/data/x86-csv
	url = git@github.com:nuvious/x86-csv.git
